body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border: solid lightgray 1px;
    border-radius: 8px;
    padding: .5em;
    margin: .5em;
}
.message-info {

    background-color: lavender;
    color: rebeccapurple;



}
.message-success {

    background-color: greenyellow;
    color: green;

}
.message-warning {

    background-color: yellow;
    color: gold;

}
.message-error {

    background-color: pink;
    color: hotpink;

}


