#heading {
    background-image: url('../img/sunshine.jpg');
    background-size: cover;
    height: 60px;
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*border: 0;*/
    /*border-radius: 0;*/
}
.heading-footer {
    background-image: url('../img/cloudy.jpg');
    background-size: auto;
    filter: brightness(95%);



    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*border: 0;*/
    /*border-radius: 0;*/
}
/*img {*/
/*    opacity: 80%;*/
/*    filter: brightness(50%);*/
/*}*/

